<nav class="navbar navbar-expand-md bg-dark border-bottom border-bottom-dark mb-3 sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
      <img class="" src="/static/svg/icon_white.svg" alt="" width="auto" height="72">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>Вопросы
      </button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#subjects" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>Меню
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="subjects">
        <ul class="navbar-nav">
          <li class="nav-item dropdown p-3">
            <a class="nav-link dropdown-toggle btn btn-primary" href="#" id="subjects_menu" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white">
              {{ subject }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="subjects">
              <li><a class="dropdown-item" href="{{ url_for('teacher', username=username) }}" type="button">Информация</a></li>
              {% for subject in subjects %}
              <li><a class="dropdown-item" href="{{ url_for('teacher_panel', username=username, input_subject=links[subject]) }}" type="button">{{ subject[0].title() + subject[1:] }}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
        {% if subject == 'Математика' %}
          <ul class="navbar-nav navbar-nav-scroll">
            <li class="nav-item dropdown p-3">
              <a class="nav-link dropdown-toggle btn btn-primary" href="#" id="topics_menu" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white">
                {% if topic_for_math %}
                  {{ topic_for_math }}
                {% else %}
                  Выберите тему теста
                {% endif %}
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="topics_menu" style="max-height:400px;overflow-y:auto;">
                {% for topic in topics_for_math %}
                <li><a class="dropdown-item" href="{{ url_for('teacher_panel', username=username, input_subject=links[subject.lower()], topic_for_math=topic) }}" type="button">{{ topic }}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        {% endif %}
        <ul class="navbar-nav">
          <li class="nav-item dropdown p-3">
            <a class="nav-link dropdown-toggle btn btn-primary" href="#" id="classes_menu" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white">
              {% if school_class %}
                {{ school_class }} класс
              {% else %}
                Класс
              {% endif %}
            </a>
            <ul class="dropdown-menu" aria-labelledby="classes">
              {% if topic_for_math %}
                {% for school_class in _range_classes[links[subject.lower()]] %}
                  <li><a class="dropdown-item" href="{{ url_for('teacher_panel', username=username, input_subject=links[subject.lower()], topic_for_math=topic_for_math, school_class=school_class) }}" type="button">{{ school_class }}</a></li>
                {% endfor %}
              {% else %}
                Тема теста не выбрана
              {% endif %}
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown p-3">
            <a class="nav-link dropdown-toggle btn btn-primary" href="#" id="user_menu_link" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white">
              {{firstname}} {{lastname}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="user_menu">
              <li><a class="dropdown-item" href="{{ url_for('teacher_menu', username=username) }}" type="button">Личный кабинет</a></li>
              <li><a class="dropdown-item" href="{{ url_for('logout') }}" type="button">Выход</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>