<table class="table table-light">
  <tbody>
    <tr>
      <td class="h4">
        <p class="h4 lh-base">
          &emsp;Вы находитесь в конструкторе для учителя. Предмет — Читательская грамотность, {{ school_class }} класс.
          Здесь вам необходимо создать 15 вопросов (тест целиком) для последующей генерации их в тестах диагностик.
          Во вкладке "Конструктор теста" находятся поля для заполнения. Первый из них — название теста, далее текст,
          по которому будут составлены 15 вопросов. <i class="text-decoration-underline" style="color:#C62828">Все вопросы являются обязательными!</i>
        </p>
        <p class="h4 lh-base mb-3">
          &emsp;По окончании заполнения обязательных полей нужно нажать на кнопку "Сохранить вопросы".
        </p>
        <p class="h4 lh-base">
          &emsp;Обязательные для заполнения поля:
        </p>
        <p class="h4 lh-base">
          &emsp;&emsp;1. Название теста;
        </p>
        <p class="h4 lh-base">
          &emsp;&emsp;2. Текст, по которому будут вопросы;
        </p>
        <p class="h4 lh-base">
          &emsp;&emsp;3. Текст или картинка для конкретного вопроса (по отдельности или оба сразу);
        </p>
        <p class="h4 lh-base">
          &emsp;&emsp;4. Вариант(ы) ответов. Если вы подразумеваете несколько вариантов, то необходимо также заполнить
          и сами варианты.
        </p>
        <p class="h4 lh-base">
          &emsp;Если вы хотите создать вопрос только с текстом (без изображения), то нужно поле для картинки оставить пустым.
          Если вопросом является само изображение, то текст нужно оставить пустым, а в поле для изображения прикрепить
          файл-изображение. Поддерживаемые типы изображений: <code>.jpg, .jpeg, .png, .svg</code>.
        </p>
        <p class="h4 lh-base mb-4">
          &emsp;&emsp;Если ваш вопрос подразумевает много вариантов, но один правильный ответ, то необходимо заполнить поле с вариантами
          ответов, разделяя варианты знаком "<i>&</i>", а в поле для ответов занести только один ответ. Например:
        </p>
        <hr size="5" color="black">
        <img src="/static/images/teacher_instruction/rc/one_answer.png" class="img-fluid">
        <hr size="7" color="black">
        <p class="h4 lh-base mb-4">
          &emsp;&emsp;Если ваш вопрос подразумевает много вариантов и несколько правильных ответов, то необходимо заполнить поле
          с вариантами ответов, разделяя варианты знаком "<i style="color:#C62828">&</i>", и в поле для ответов занести все правильные,
          разделяя их знаком "<i style="color:#C62828">&</i>". Например:
        </p>
        <hr size="5" color="black">
        <img src="/static/images/teacher_instruction/rc/many_answers.png" class="img-fluid">
        <hr size="7" color="black">
        <p class="h4 lh-base">
          &emsp;Для более общей полной инструкции перейдите, пожалуйста, в меню "Информация". Для этого нажмите левой кнопкой
          мыши на названии предмета в верхней левой части экрана и выберете соответствующий пункт меню.
        </p>

      </td>
    </tr>
  </tbody>
</table>
<br>
<br>
<br>