<table class="table table-light">
  <tbody>
    <tr>
      <td class="h4">
        <p class="h4 lh-base">
          &emsp;Вы находитесь в конструкторе для учителя. Предмет — Английский язык, {{ school_class }} класс.
          Здесь вы можете создать до {{ _range[-1] }} блоков вопросов (или все сразу) для последующей генерации их в тестах диагностик.
          Конечное количество блоков зависит от класса. Для 7-го их четыре, а для 11-го — десять. Во вкладках
          "Блок вопросов" находятся поля для заполнения.
        </p>
        <p class="h4 lh-base">
          &emsp;Первый блок всегда для аудирования. Внутри этого блока содержится поле для названия, загрузки аудио-файла и
          до десяти вопросов. Каждый вопрос содержит в себе текст вопроса, возможные ответы (если они есть) и правильный
          ответ. Для данного блока обязательными являются поля:
        </p>
        <p class="h4 lh-base">
          &emsp;1. Название для блока;
        </p>
        <p class="h4 lh-base">
          &emsp;3. Поле для загрузки аудио-файла;
        </p>
        <p class="h4 lh-base">
          &emsp;3. Поле для ввода первого вопроса, а также хотя бы один вариант ответа.
        </p>
        <p class="h4 lh-base">
          &emsp;Второй блок всегда для вопросов по тексту. Внутри этого блока содержится поле для названия, ввода текста и
          до десяти вопросов. Каждый вопрос содержит в себе текст вопроса, возможные ответы (если они есть) и правильный
          ответ. Для данного блока обязательными являются поля:
        </p>
        <p class="h4 lh-base">
          &emsp;1. Название для блока;
        </p>
        <p class="h4 lh-base">
          &emsp;2. Текст, по которому буду вопросы;
        </p>
        <p class="h4 lh-base">
          &emsp;3. Поле для ввода первого вопроса, а также хотя бы один вариант ответа.
        </p>
        <p class="h4 lh-base">
          &emsp;Все остальные блоки для вопросов на разные темы. В каждом блоке содержится по десять вопросов. Внутри каждого
          вопроса есть возможность заполнить текст вопроса или/и приложить изображение, варианты ответов, а также
          правильные ответы. Обязательными для заполнения полями являются:
        </p>
        <p class="h4 lh-base">
          &emsp;1. Название для блока;
        </p>
        <p class="h4 lh-base">
          &emsp;2. Текст, по которому буду вопросы или/и приложенное изображение;
        </p>
        <p class="h4 lh-base">
          &emsp;3. Поле для ввода первого вопроса, а также хотя бы один вариант ответа.
        </p>
        <p class="h4 lh-base">
          &emsp;По окончании заполнения каждого блока нужно нажать на кнопку "Сохранить блок вопросов".
        </p>
        <p class="h4 lh-base">
          &emsp;Обратите внимание, что нет необходимости заполнять все десять вопросов в блоке. Достаточно одного вопроса,
          но имеет смысл заполнить хотя бы пять вопросов.
        </p>
        <p class="h4 lh-base">
          &emsp;Для третьего и тд блоков, если вы хотите создать вопрос только с текстом (без изображения), то нужно поле для
          картинки оставить пустым. Если вопросом является само изображение, то текст нужно оставить пустым, а в поле
          для изображения прикрепить файл-изображение. Поддерживаемые типы изображений: <code>.jpg, .jpeg, .png, .svg</code>.
        </p>
        <p class="h4 lh-base mb-4">
          &emsp;&emsp;Если ваш вопрос подразумевает много вариантов, но один правильный ответ, то необходимо заполнить поле с вариантами
          ответов, разделяя варианты знаком "<i>&</i>", а в поле для ответов занести только один ответ. Например:
        </p>
        <hr size="5" color="black">
        <img src="/static/images/teacher_instruction/rc/one_answer.png" class="img-fluid">
        <hr size="7" color="black">
        <p class="h4 lh-base mb-4">
          &emsp;&emsp;Если ваш вопрос подразумевает много вариантов и несколько правильных ответов, то необходимо заполнить поле
          с вариантами ответов, разделяя варианты знаком "<i style="color:#C62828">&</i>", и в поле для ответов занести все правильные,
          разделяя их знаком "<i style="color:#C62828">&</i>". Например:
        </p>
        <hr size="5" color="black">
        <img src="/static/images/teacher_instruction/rc/many_answers.png" class="img-fluid">
        <hr size="7" color="black">
        <p class="h4 lh-base">
          &emsp;Для более общей полной инструкции перейдите, пожалуйста, в меню "Информация". Для этого нажмите левой кнопкой
          мыши на названии предмета в верхней левой части экрана и выберете соответствующий пункт меню.
        </p>

      </td>
    </tr>
  </tbody>
</table>
<br>
<br>
<br>