<table class="table table-light">
  <tbody>
    <tr>
      <td class="h4">
        <p class="h4 lh-base">
          &emsp;Вы находитесь в конструкторе для учителя. Предмет — {{ subject }}, {{ school_class }} класс.
          Здесь вы можете создать {{ _range[-1] }} вопросов для генерации тестов диагностик. У вас есть возможность
          разрабатывать любое количество вопросов за один раз. Если вы хотите создать только один вопрос, то вам
          нужно перейти во вкладку с номером вопроса слева, заполнить необходимые поля и нажать на кнопку "Сохранить
          вопрос".
        </p>
        <p class="h4 lh-base">
          &emsp;Обязательные для заполнения поля:
        </p>
        <p class="h4 lh-base">
          &emsp;&emsp;1. Название вопроса;
        </p>
        <p class="h4 lh-base">
          &emsp;&emsp;2. Текст или картинка для вопроса (или оба сразу);
        </p>
        <p class="h4 lh-base">
          &emsp;&emsp;3. Вариант(ы) ответов. Если вы подразумеваете несколько вариантов, то необходимо также заполнить
          и сами варианты.
        </p>
        <p class="h4 lh-base">
          &emsp;Если же вы хотите создать за раз сразу несколько вопросов, то вам сначала нужно заполнить необходимые
          поля для каждого вопроса, а затем во вкладке последнего вопроса нажать на кнопку "Сохранить все вопросы".
          Система автоматически определит какие вопросы у вас заполнены и добавит их в базу данных. Если вы допустили
          ошибку и не заполнили какое-то необходимое поле в вопросе, то этот вопрос не будет добавлен.
        </p>
        <br>
        <p class="h4 lh-base">
          &emsp;В поле для изображения нужно просто выбрать необходимый файл, который должен появиться в тесте вместе
          с вопросом. Поддерживаемые типы изображений: <code>.jpg, .jpeg, .png, .svg</code>.
        </p>
        <br>
        <p class="h4 lh-base">
          &emsp;Для более полной инструкции перейдите, пожалуйста, в меню "Информация". Для этого нажмите левой кнопкой
          мыши на названии предмета в верхней левой части экрана и выберете соответствующий пункт меню.
        </p>
      </td>
    </tr>
  </tbody>
</table>
<br>
<br>
<br>