 <p class="h4 mb-4" style="color:#C62828;"><b><u>Пожалуйста, внимательно прочитайте инструкцию!</u></b></p>
<hr size="10" color="blue">
<table class="table table-light">
  <tbody>
    <tr>
      <td class="h4">
        <p class="h4 lh-lg"><b><i>&nbsp;Как выполнять тест?</i></b></p>
        <p class="h5 lh-base">
          &nbsp;Вы находитесь на странице для прохождения теста по предмету <b>Английский язык</b>. Слева от инструкции находится
          <b><u>навигационное меню</u></b> для выбора блоков с вопросами. В первом блоке находятся задания по <b>аудированию</b>.
          Во втором блоке — задания по <b>тексту</b>. Далее в блоках собраны вопросы на различные темы. После выбора
          блока вам будут доступны задания и вопросы, соответствующие тематике блока.
        </p>
        <p class="h5 lh-base">
          &nbsp;Во время диагностики нужно поочерёдно выбрать все блоки и отвечать на вопросы в них. В завершении, когда
          вы убедитесь в том, что вы ответили на все вопросы, в последнем будет кнопка
          <a class="btn btn-secondary">Закончить тест</a>. Для завершения и получения общей статистики по вашим
          ответам нужно нажать на неё.
        </p>
        <p class="h5 lh-base">
          &nbsp;Для того чтобы начать, нажмите на кнопку <b><u>Начать тестирование</u></b> снизу. После начала
          система разблокирует доступ к вопросам и одновременно запустит таймер обратного отсчёта. Он отобразится
          справа сверху. Вам необходимо уложиться в отведённое время. После того как время истечёт, если вы сами не
          закончите, то через 10 секунд система автоматически завершит тест.
        </p>
        <p class="h5 lh-base">
          &nbsp;Желаем вам успехов и спасибо за пользование нашим сервисом!
        </p>
      </td>
    </tr>
  </tbody>
</table>