<a id="modal_open" data-bs-toggle="modal" data-bs-target="#exampleModal"></a>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Ошибка!</h1>
            </div>
            <div class="modal-body">
              К сожалению, в базу данных не добавлено ни одного вопроса (блока вопросов)!
              <p>Проверьте, пожалуйста, что вы заполнили основные обязательные поля для каждого вопроса.</p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Ok</button>
              <!-- href="{{ url_for(html_page, username=username, input_subject=input_subject, school_class=school_class) }}" -->
            </div>
          </div>
        </div>
      </div>