<a id="modal_open" data-bs-toggle="modal" data-bs-target="#exampleModal"></a>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Успешная операция!</h1>
            </div>
            <div class="modal-body">
              В базу данных успешно добавлен тест для читательской грамотности.
              Данный тест будет участвовать в последующей генерации случайного варианта.
              <p>Спасибо за участие в развитии системы диагностик!</p>
            </div>
            <div class="modal-footer">
              <a class="btn btn-secondary" href="{{ url_for('teacher', username=username) }}" type="button">Ok</a>
            </div>
          </div>
        </div>
      </div>