<a id="modal_open" data-bs-toggle="modal" data-bs-target="#exampleModal"></a>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Неудачная попытка регистрации</h1>
            </div>
            <div class="modal-body">
              <p>&ensp;Для того чтобы регистрация в системе была удачной, необходимо:</p>
              <p><b>1.</b> Имя должно начинаться с заглавной и содержать только русские буквы (например: Оксана);</p>
              <p><b>2.</b> Фамилия должна начинаться с заглавной и содержать только русские буквы (например: Дорохова);</p>
              <p><b>3.</b> Хотя бы один предмет должен быть выбран;</p>
              <p><b>4.</b> Email должен быть в формате account@mail.ru (например: dorohovaoi@mail.ru);</p>
              <p><b>5.</b> Имя пользователя должно быть заполнено латинскими буквами и может содержать цифры (например: dorohovaoi);</p>
              <p><b>5.</b> Пароль должен быть минимум 8 символов и содержать буквы нижнего и верхнего регистров, цифры,
                а также спецсимволы: !@#$%^&*()</p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Ok</button>
            </div>
          </div>
        </div>
      </div>