<a id="modal_open" data-bs-toggle="modal" data-bs-target="#exampleModal"></a>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Ошибка!</h1>
            </div>
            <div class="modal-body">
              Новый пароль такой же как и старый. Нечего менять.
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Ok</button>
            </div>
          </div>
        </div>
      </div>